.experience__title{
        max-width: 975px;
        display: flex;
        flex-direction: column;
        gap: 20px; 
        margin-top: 150px;  
}
.experience__text{
    color: #1A1A1A;
    font-size: 38px;
    font-weight: 600;
    line-height: 51.91px;
    text-align: left; 
    text-transform: uppercase;  
}

.experience__suptitle{
    max-width: 950px;
    color: #656567;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
        
}

.experience__card__title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.experience__card__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #656567;    
}
.experience__card{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.experience__card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}  
.experience__cards{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: #F1F1F3;
    padding: 20px;
    border-radius: 16px;

}

//1023 opisional
//1440
//992 opisional
//768
//552 opisional
//376

@media only screen and (max-width: 992px){
.experience__cards{
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;

}
}

@media only screen and (max-width:700px){
    .experience__cards{
        grid-template-columns: 1fr;
    }
}